<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Allam"
        tools:targetApi="31">
        <activity
            android:name=".data.lihat_data"
            android:exported="false" />
        <activity
            android:name=".ui.admin.data_pendaftaran"
            android:exported="false" />
        <activity
            android:name=".ui.admin.verifikasi"
            android:exported="false" />
        <activity
            android:name=".ui.admin.setting_akun_admin"
            android:exported="false" />
        <activity
            android:name=".ui.admin.brosur_admin"
            android:exported="false" />
        <activity
            android:name=".ui.user.halaman_form"
            android:exported="false" />
        <activity
            android:name=".ui.admin.beranda_admin"
            android:exported="false" />
        <activity
            android:name=".ui.user.setting_akun"
            android:exported="false" />
        <activity
            android:name=".ui.user.info"
            android:exported="false" />
        <activity
            android:name=".ui.user.halaman_media"
            android:exported="false" />
        <activity
            android:name=".ui.user.halaman_pengumuman"
            android:exported="false" />
        <activity
            android:name=".ui.user.halaman_brosur"
            android:exported="false" />
        <activity
            android:name=".ui.user.beranda_user"
            android:exported="false" />
        <activity
            android:name=".ui.auth.daftar"
            android:exported="false" />
        <activity
            android:name=".ui.splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>